@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.heading {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,rgb(129, 113, 201),rgb(37, 14, 151));
}

.calculator {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    text-align: center;
}

#display {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    text-align: right;
    font-size: 2rem;
    padding: 10px;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.btn {
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.23);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

.operator {
    background:rgba(255, 117, 117, 0.73);
}

.operator:hover {
    background:rgba(255, 0, 0, 0.48);
}

.equal {
    background:rgba(73, 52, 212, 0.76);
    grid-column: span 2;
}

.equal:hover {
    background: #4834d4;
}

.zero {
    grid-column: span 2;
}
.author-name {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: #333;
  }
